In [1]:
import numpy as np
import pandas as pd
import streamlit as st
import plotly.express as px
import re

In [2]:
cols = list(pd.read_excel("catan_data.xlsx").iloc[0,:])

data = pd.read_excel("catan_data.xlsx").iloc[1:,:]

data.columns = cols

C:\Users\maxfu\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
C:\Users\maxfu\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [3]:
data

,season,Session,game,loc,geoloc,player,score,special,place,position,...,prox_port_ore,prox_port_gen,t_sum_wood,t_sum_clay,t_sum_sheep,t_sum_grain,t_sum_ore,t_sum_paper,t_sum_coin,t_sum_fabric
1,2022,2022-03-19 00:00:00,1,Husum (Memeler Str.),"54.491864, 9.030382",PF,7,NaN,2,first,...,1,1,16,15,11,27,13,5,3,11
2,2022,2022-03-19 00:00:00,1,Husum (Memeler Str.),"54.491864, 9.030382",MF,14,NaN,1,second,...,0,1,16,15,11,27,13,5,3,11
3,2022,2022-03-19 00:00:00,1,Husum (Memeler Str.),"54.491864, 9.030382",JHC,5,NaN,3,third,...,0,0,16,15,11,27,13,5,3,11
4,2022,2022-03-19 00:00:00,2,Husum (Memeler Str.),"54.491864, 9.030382",JHC,7,NaN,2,first,...,0,0,18,16,10,19,13,5,6,6
5,2022,2022-03-19 00:00:00,2,Husum (Memeler Str.),"54.491864, 9.030382",MF,13,NaN,1,second,...,0,0,18,16,10,19,13,5,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,2023,2023-10-07 00:00:00,16,Hamburg (Kegelhofstr.),"53.594891, 9.981069",PF,13,6,1,second,...,0,0,13,9,17,32,4,9,2,7
138,2023,2023-10-07 00:00:00,16,Hamburg (Kegelhofstr.),"53.594891, 9.981069",MF,9,1,2,third,...,1,1,13,9,17,32,4,9,2,7
139,2023,2023-10-07 00:00:00,17,Hamburg (Kegelhofstr.),"53.594891, 9.981069",MF,8,1,3,first,...,0,0,10,8,17,25,14,3,9,7
140,2023,2023-10-07 00:00:00,17,Hamburg (Kegelhofstr.),"53.594891, 9.981069",PF,12,5,2,second,...,0,0,10,8,17,25,14,3,9,7
141,2023,2023-10-07 00:00:00,17,Hamburg (Kegelhofstr.),"53.594891, 9.981069",JHC,13,5,1,third,...,0,0,10,8,17,25,14,3,9,7

In [29]:
points_cum = data[["Session","season","game","loc","player","place"]].copy()

In [35]:
points_cum["points"] = points_cum["place"].map({1:2,2:1,3:0})
points_cum["points_cum"] = np.nan
points_cum["points_cum_ytd"] = np.nan

In [36]:
points_cum_jhc = points_cum.loc[points_cum["player"]=="JHC"]
points_cum_pf = points_cum.loc[points_cum["player"]=="PF"]
points_cum_mf = points_cum.loc[points_cum["player"]=="MF"]

In [33]:
for dude in [points_cum_jhc,points_cum_mf,points_cum_pf]:
    for i in dude.index:
        
        cutoff = pd.to_datetime(dude.loc[dude.index==i]["Session"])
        
        dude.loc[dude.index==i]["points_cum"] =

2
5
8
11
15
16
19
24
26
28
33
34
39
41
43
47
51
53
57
58
63
64
69
70
75
76
80
82
87
90
93
95
97
101
104
108
110
114
117
119
123
125
129
131
133
138
139

In [32]:
points_cum_jhc.loc[points_cum_jhc["Session"]> pd.to_datetime("2023-01-01")]

,Session,season,game,loc,player,place,points
92,2023-04-04 00:00:00,2023,1,Köln (Nikolausstr.),JHC,2,1
94,2023-04-04 00:00:00,2023,2,Köln (Nikolausstr.),JHC,3,0
99,2023-04-04 00:00:00,2023,3,Köln (Nikolausstr.),JHC,2,1
102,2023-04-04 00:00:00,2023,4,Köln (Nikolausstr.),JHC,1,2
103,2023-04-04 00:00:00,2023,5,Köln (Nikolausstr.),JHC,3,0
107,2023-04-04 00:00:00,2023,6,Köln (Nikolausstr.),JHC,2,1
109,2023-04-04 00:00:00,2023,7,Köln (Nikolausstr.),JHC,3,0
113,2023-04-04 00:00:00,2023,8,Köln (Nikolausstr.),JHC,1,2
116,2023-04-10 00:00:00,2023,9,Husum (Memeler Str.),JHC,2,1
118,2023-04-10 00:00:00,2023,10,Husum (Memeler Str.),JHC,1,2
122,2023-04-10 00:00:00,2023,11,Husum (Memeler Str.),JHC,1,2
124,2023-10-07 00:00:00,2023,12,Hamburg (Kegelhofstr.),JHC,2,1
127,2023-10-07 00:00:00,2023,13,Hamburg (Kegelhofstr.),JHC,1,2
132,2023-10-07 00:00:00,2023,14,Hamburg (Kegelhofstr.),JHC,1,2
135,2023-10-07 00:00:00,2023,15,Hamburg (Kegelhofstr.),JHC,3,0
136,2023-10-07 00:00:00,2023,16,Hamburg (Kegelhofstr.),JHC,3,0
141,2023-10-07 00:00:00,2023,17,Hamburg (Kegelhofstr.),JHC,1,2

In [87]:
# Calculate mean scores for each player at each location
mean_scores = data.groupby(['loc', 'player'])['score'].mean().unstack().fillna(0)
location_count = data['loc'].value_counts() / 3


# Create a hover text column
hover_text_scores = mean_scores.apply(lambda row: '\n'.join([f"{player}: {score:.2f}" for player, score in row.items()]), axis=1)
hover_text = "Punktedurchschnitt: " + hover_text_scores + '\n' + 'Anzahl Spiele: ' + location_count.reindex(hover_text_scores.index).astype(float).apply(lambda x: f"{x:.1f}")
# Merge this with your original data
data = data.merge(hover_text.rename('hover_info'), on='loc', how='left')
# Ensure unique entries for locations to avoid plot duplication
data_unique = data.drop_duplicates(subset=['loc'])

In [88]:
hover_text

loc
Hamburg (Kegelhofstr.)    Punktedurchschnitt: JHC: 10.53\nMF: 8.37\nPF: ...
Husum (Memeler Str.)      Punktedurchschnitt: JHC: 9.88\nMF: 8.12\nPF: 9...
Köln (Nikolausstr.)       Punktedurchschnitt: JHC: 8.25\nMF: 7.38\nPF: 9...
Online                    Punktedurchschnitt: JHC: 11.33\nMF: 8.33\nPF: ...
dtype: object