In [1]:
import numpy as np
import pandas as pd
import streamlit as st
import plotly.express as px
import re

In [18]:
cols = list(pd.read_excel("catan_data.xlsx").iloc[0,:])

data = pd.read_excel("catan_data.xlsx").iloc[1:,:]

data.columns = cols

data["game_id"] = data["season"]*100 + data["game"]

C:\Users\maxfu\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
C:\Users\maxfu\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [19]:
data

,season,Session,game,loc,geoloc,player,score,special,place,position,...,prox_port_gen,t_sum_wood,t_sum_clay,t_sum_sheep,t_sum_grain,t_sum_ore,t_sum_paper,t_sum_coin,t_sum_fabric,game_id
1,2022,2022-03-19 00:00:00,1,Husum (Memeler Str.),"54.491864, 9.030382",PF,7,NaN,2,first,...,1,16,15,11,27,13,5,3,11,202201
2,2022,2022-03-19 00:00:00,1,Husum (Memeler Str.),"54.491864, 9.030382",MF,14,NaN,1,second,...,1,16,15,11,27,13,5,3,11,202201
3,2022,2022-03-19 00:00:00,1,Husum (Memeler Str.),"54.491864, 9.030382",JHC,5,NaN,3,third,...,0,16,15,11,27,13,5,3,11,202201
4,2022,2022-03-19 00:00:00,2,Husum (Memeler Str.),"54.491864, 9.030382",JHC,7,NaN,2,first,...,0,18,16,10,19,13,5,6,6,202202
5,2022,2022-03-19 00:00:00,2,Husum (Memeler Str.),"54.491864, 9.030382",MF,13,NaN,1,second,...,0,18,16,10,19,13,5,6,6,202202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,2024,2024-03-15 00:00:00,4,Husum (Memeler Str.),"54.491864, 9.030382",MF,9,5,2,second,...,0,19,3,18,8,20,11,10,11,202404
168,2024,2024-03-15 00:00:00,4,Husum (Memeler Str.),"54.491864, 9.030382",PF,5,0,3,third,...,0,19,3,18,8,20,11,10,11,202404
169,2024,2024-03-15 00:00:00,5,Husum (Memeler Str.),"54.491864, 9.030382",NaN,NaN,NaN,NaN,first,...,NaN,0,0,0,0,0,0,0,0,202405
170,2024,2024-03-15 00:00:00,5,Husum (Memeler Str.),"54.491864, 9.030382",NaN,NaN,NaN,NaN,second,...,NaN,0,0,0,0,0,0,0,0,202405
171,2024,2024-03-15 00:00:00,5,Husum (Memeler Str.),"54.491864, 9.030382",NaN,NaN,NaN,NaN,third,...,NaN,0,0,0,0,0,0,0,0,202405

In [20]:
points_cum = data[["game_id","Session","season","game","loc","player","place"]].copy()

In [21]:
points_cum["points"] = points_cum["place"].map({1:2,2:1,3:0})
points_cum["points_cum"] = np.nan
points_cum["points_cum_ytd"] = np.nan

In [22]:
points_cum_jhc = points_cum.loc[points_cum["player"]=="JHC"]
points_cum_pf = points_cum.loc[points_cum["player"]=="PF"]
points_cum_mf = points_cum.loc[points_cum["player"]=="MF"]

In [35]:
for dude in [points_cum_jhc,points_cum_mf,points_cum_pf]:
    for i in dude.index:
        
        cutoff = dude.loc[dude.index==i]["game_id"].iloc[0]
        #kumulierte gesamtpunkte setzen
        dude.loc[dude.index==i,"points_cum"] = dude.loc[dude["game_id"]<=cutoff]["points"].sum()
        # kumulierte punkte seit jahresbeginn
        dude.loc[dude.index==i,"points_cum_ytd"] = dude.loc[(dude["game_id"]<=cutoff) & (dude["season"]==int(str(cutoff)[:4]))]["points"].sum()

In [36]:
points_cum_jhc

,game_id,Session,season,game,loc,player,place,points,points_cum,points_cum_ytd
3,202201,2022-03-19 00:00:00,2022,1,Husum (Memeler Str.),JHC,3,0.0,0.0,0.0
4,202202,2022-03-19 00:00:00,2022,2,Husum (Memeler Str.),JHC,2,1.0,1.0,1.0
9,202203,2022-03-19 00:00:00,2022,3,Husum (Memeler Str.),JHC,1,2.0,3.0,3.0
10,202204,2022-03-19 00:00:00,2022,4,Husum (Memeler Str.),JHC,3,0.0,3.0,3.0
13,202205,2022-03-19 00:00:00,2022,5,Husum (Memeler Str.),JHC,3,0.0,3.0,3.0
17,202206,2022-03-19 00:00:00,2022,6,Husum (Memeler Str.),JHC,1,2.0,5.0,5.0
20,202207,2022-03-19 00:00:00,2022,7,Husum (Memeler Str.),JHC,1,2.0,7.0,7.0
22,202208,2022-03-19 00:00:00,2022,8,Husum (Memeler Str.),JHC,2,1.0,8.0,8.0
27,202209,2022-03-19 00:00:00,2022,9,Husum (Memeler Str.),JHC,2,1.0,9.0,9.0
30,202210,2022-06-04 00:00:00,2022,10,Hamburg (Kegelhofstr.),JHC,1,2.0,11.0,11.0
32,202211,2022-06-04 00:00:00,2022,11,Hamburg (Kegelhofstr.),JHC,3,0.0,11.0,11.0
36,202212,2022-06-04 00:00:00,2022,12,Hamburg (Kegelhofstr.),JHC,2,1.0,12.0,12.0
38,202213,2022-06-04 00:00:00,2022,13,Hamburg (Kegelhofstr.),JHC,3,0.0,12.0,12.0
40,202214,2022-06-04 00:00:00,2022,14,Hamburg (Kegelhofstr.),JHC,1,2.0,14.0,14.0
45,202215,2022-06-04 00:00:00,2022,15,Hamburg (Kegelhofstr.),JHC,2,1.0,15.0,15.0
46,202216,2022-09-11 00:00:00,2022,16,Online,JHC,2,1.0,16.0,16.0
49,202217,2022-09-11 00:00:00,2022,17,Online,JHC,2,1.0,17.0,17.0
54,202218,2022-09-11 00:00:00,2022,18,Online,JHC,1,2.0,19.0,19.0
56,202219,2022-11-19 00:00:00,2022,19,Hamburg (Kegelhofstr.),JHC,2,1.0,20.0,20.0
60,202220,2022-11-19 00:00:00,2022,20,Hamburg (Kegelhofstr.),JHC,1,2.0,22.0,22.0
62,202221,2022-11-19 00:00:00,2022,21,Hamburg (Kegelhofstr.),JHC,2,1.0,23.0,23.0
66,202222,2022-11-19 00:00:00,2022,22,Hamburg (Kegelhofstr.),JHC,1,2.0,25.0,25.0
67,202223,2022-11-19 00:00:00,2022,23,Hamburg (Kegelhofstr.),JHC,3,0.0,25.0,25.0
71,202224,2022-11-19 00:00:00,2022,24,Hamburg (Kegelhofstr.),JHC,2,1.0,26.0,26.0
74,202225,2022-11-19 00:00:00,2022,25,Hamburg (Kegelhofstr.),JHC,1,2.0,28.0,28.0
77,202226,2022-12-29 00:00:00,2022,26,Husum (Memeler Str.),JHC,1,2.0,30.0,30.0
81,202227,2022-12-29 00:00:00,2022,27,Husum (Memeler Str.),JHC,1,2.0,32.0,32.0
84,202228,2022-12-29 00:00:00,2022,28,Husum (Memeler Str.),JHC,2,1.0,33.0,33.0
85,202229,2022-12-29 00:00:00,2022,29,Husum (Memeler Str.),JHC,3,0.0,33.0,33.0
89,202230,2022-12-29 00:00:00,2022,30,Husum (Memeler Str.),JHC,3,0.0,33.0,33.0
92,202301,2023-04-04 00:00:00,2023,1,Köln (Nikolausstr.),JHC,2,1.0,34.0,1.0
94,202302,2023-04-04 00:00:00,2023,2,Köln (Nikolausstr.),JHC,3,0.0,34.0,1.0
99,202303,2023-04-04 00:00:00,2023,3,Köln (Nikolausstr.),JHC,2,1.0,35.0,2.0
102,202304,2023-04-04 00:00:00,2023,4,Köln (Nikolausstr.),JHC,1,2.0,37.0,4.0
103,202305,2023-04-04 00:00:00,2023,5,Köln (Nikolausstr.),JHC,3,0.0,37.0,4.0
107,202306,2023-04-04 00:00:00,2023,6,Köln (Nikolausstr.),JHC,2,1.0,38.0,5.0
109,202307,2023-04-04 00:00:00,2023,7,Köln (Nikolausstr.),JHC,3,0.0,38.0,5.0
113,202308,2023-04-04 00:00:00,2023,8,Köln (Nikolausstr.),JHC,1,2.0,40.0,7.0
116,202309,2023-04-10 00:00:00,2023,9,Husum (Memeler Str.),JHC,2,1.0,41.0,8.0
118,202310,2023-04-10 00:00:00,2023,10,Husum (Memeler Str.),JHC,1,2.0,43.0,10.0
122,202311,2023-04-10 00:00:00,2023,11,Husum (Memeler Str.),JHC,1,2.0,45.0,12.0
124,202312,2023-10-07 00:00:00,2023,12,Hamburg (Kegelhofstr.),JHC,2,1.0,46.0,13.0
127,202313,2023-10-07 00:00:00,2023,13,Hamburg (Kegelhofstr.),JHC,1,2.0,48.0,15.0
132,202314,2023-10-07 00:00:00,2023,14,Hamburg (Kegelhofstr.),JHC,1,2.0,50.0,17.0
135,202315,2023-10-07 00:00:00,2023,15,Hamburg (Kegelhofstr.),JHC,3,0.0,50.0,17.0
136,202316,2023-10-07 00:00:00,2023,16,Hamburg (Kegelhofstr.),JHC,3,0.0,50.0,17.0
141,202317,2023-10-07 00:00:00,2023,17,Hamburg (Kegelhofstr.),JHC,1,2.0,52.0,19.0
144,202318,2023-12-29 00:00:00,2023,18,Hamburg (Kegelhofstr.),JHC,2,1.0,53.0,20.0
145,202319,2023-12-29 00:00:00,2023,19,Hamburg (Kegelhofstr.),JHC,2,1.0,54.0,21.0
150,202320,2023-12-29 00:00:00,2023,20,Hamburg (Kegelhofstr.),JHC,2,1.0,55.0,22.0
152,202321,2023-12-29 00:00:00,2023,21,Hamburg (Kegelhofstr.),JHC,3,0.0,55.0,22.0
156,202322,2023-12-29 00:00:00,2023,22,Hamburg (Kegelhofstr.),JHC,1,2.0,57.0,24.0
157,202401,2024-03-15 00:00:00,2024,1,Husum (Memeler Str.),JHC,1,2.0,59.0,2.0
161,202402,2024-03-15 00:00:00,2024,2,Husum (Memeler Str.),JHC,1,2.0,61.0,4.0
164,202403,2024-03-15 00:00:00,2024,3,Husum (Memeler Str.),JHC,2,1.0,62.0,5.0
166,202404,2024-03-15 00:00:00,2024,4,Husum (Memeler Str.),JHC,1,2.0,64.0,7.0

In [87]:
# Calculate mean scores for each player at each location
mean_scores = data.groupby(['loc', 'player'])['score'].mean().unstack().fillna(0)
location_count = data['loc'].value_counts() / 3


# Create a hover text column
hover_text_scores = mean_scores.apply(lambda row: '\n'.join([f"{player}: {score:.2f}" for player, score in row.items()]), axis=1)
hover_text = "Punktedurchschnitt: " + hover_text_scores + '\n' + 'Anzahl Spiele: ' + location_count.reindex(hover_text_scores.index).astype(float).apply(lambda x: f"{x:.1f}")
# Merge this with your original data
data = data.merge(hover_text.rename('hover_info'), on='loc', how='left')
# Ensure unique entries for locations to avoid plot duplication
data_unique = data.drop_duplicates(subset=['loc'])

In [88]:
hover_text

loc
Hamburg (Kegelhofstr.)    Punktedurchschnitt: JHC: 10.53\nMF: 8.37\nPF: ...
Husum (Memeler Str.)      Punktedurchschnitt: JHC: 9.88\nMF: 8.12\nPF: 9...
Köln (Nikolausstr.)       Punktedurchschnitt: JHC: 8.25\nMF: 7.38\nPF: 9...
Online                    Punktedurchschnitt: JHC: 11.33\nMF: 8.33\nPF: ...
dtype: object