In [67]:
import numpy as np
import pandas as pd
import streamlit as st
import plotly.express as px
import re

In [49]:
cols = list(pd.read_excel("catan_data.xlsx").iloc[0,:])

data = pd.read_excel("catan_data.xlsx").iloc[1:,:]

data.columns = cols

C:\Users\maxfu\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
C:\Users\maxfu\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [50]:
data

,season,Session,game,loc,geoloc,player,score,special,place,position,...,prox_port_ore,prox_port_gen,t_sum_wood,t_sum_clay,t_sum_sheep,t_sum_grain,t_sum_ore,t_sum_paper,t_sum_coin,t_sum_fabric
1,2022,2022-03-19 00:00:00,1,Husum (Memeler Str.),"54.491864, 9.030382",PF,7,NaN,2,first,...,1,1,16,15,11,27,13,5,3,11
2,2022,2022-03-19 00:00:00,1,Husum (Memeler Str.),"54.491864, 9.030382",MF,14,NaN,1,second,...,0,1,16,15,11,27,13,5,3,11
3,2022,2022-03-19 00:00:00,1,Husum (Memeler Str.),"54.491864, 9.030382",JHC,5,NaN,3,third,...,0,0,16,15,11,27,13,5,3,11
4,2022,2022-03-19 00:00:00,2,Husum (Memeler Str.),"54.491864, 9.030382",JHC,7,NaN,2,first,...,0,0,18,16,10,19,13,5,6,6
5,2022,2022-03-19 00:00:00,2,Husum (Memeler Str.),"54.491864, 9.030382",MF,13,NaN,1,second,...,0,0,18,16,10,19,13,5,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,2023,2023-10-07 00:00:00,16,Hamburg (Kegelhofstr.),"53.594891, 9.981069",PF,13,6,1,second,...,0,0,13,9,17,32,4,9,2,7
138,2023,2023-10-07 00:00:00,16,Hamburg (Kegelhofstr.),"53.594891, 9.981069",MF,9,1,2,third,...,1,1,13,9,17,32,4,9,2,7
139,2023,2023-10-07 00:00:00,17,Hamburg (Kegelhofstr.),"53.594891, 9.981069",MF,8,1,3,first,...,0,0,10,8,17,25,14,3,9,7
140,2023,2023-10-07 00:00:00,17,Hamburg (Kegelhofstr.),"53.594891, 9.981069",PF,12,5,2,second,...,0,0,10,8,17,25,14,3,9,7
141,2023,2023-10-07 00:00:00,17,Hamburg (Kegelhofstr.),"53.594891, 9.981069",JHC,13,5,1,third,...,0,0,10,8,17,25,14,3,9,7